.advantages {
    padding: 7rem 0 7.8rem;

    &__header {
        margin-bottom: 6.7rem;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__items {
        width: 24.7rem;
        text-align: center;
        margin: 0 auto;
    }

    &__icon {
        margin: 0 auto;
        width: 7rem;
        height: auto;
        margin-bottom: 3.8rem;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 2.9rem;
    }

    &__subtitle {
        font-size: 1.4rem;
        font-weight: 300;
    }
}
